# Supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6c3FnbnVsaWd3cGF3aWhxbXJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwOTU1MDIsImV4cCI6MjA5NjY3MTUwMn0.QZVJwmMaDpAbrIFPkGf2xrgVTwH9tK51Fp_3lkFC0Ig
NEXT_PUBLIC_SUPABASE_URL=https://bzsqgnuligwpawihqmrg.supabase.co
